<h1 style="color: #F70206; text-shadow: 2px 2px 4px #000000; border: 1px solid #000000; font-size: 60px; text-align: center; background-color: #A1A1A3;"> üèéÔ∏è FORMULA 1: LAP TIMES üèéÔ∏è </h1>

<h1 style="color: #F70206; text-shadow: 2px 2px 4px #000000; border: 1px solid #000000; font-size: 36px;">00 | First Steps </h1>

In [1]:
import re                                                # üîÑ Importa la biblioteca re para operaciones de expresiones regulares.
import pandas as pd                                      # üòÄ Importa la biblioteca pandas y la renombra como pd para su uso en el c√≥digo.
import matplotlib.pyplot as plt                          # üìä Importa la biblioteca matplotlib.pyplot y la renombra como plt para su uso en el c√≥digo.
import seaborn as sns                                    # üìà Importa la biblioteca seaborn para gr√°ficos estad√≠sticos.
import numpy as np                                       # üî¢ Importa la biblioteca numpy y la renombra como np para su uso en el c√≥digo.
import statsmodels.api as sm                             # üìà Importa la biblioteca statsmodels.api para an√°lisis estad√≠stico y modelado.
import scipy.stats as st                                 # üî¨ Importa la biblioteca scipy.stats para distribuciones y pruebas estad√≠sticas.
import warnings                                          # ‚ö†Ô∏è Importa la biblioteca warnings para manejar advertencias.
from datetime import datetime                            # üìÖ Importa la clase datetime de la biblioteca datetime para trabajar con fechas y horas.

<div class="alert alert-block alert-info" style="background-color: rgba(247, 2, 6, 0.2); color: black;">
    <strong>Tip #1</strong> RELLENAR!
</div>

<h4 style="color: #F70206;">Other settings</h4>

In [2]:
warnings.filterwarnings("ignore")
%matplotlib inline
pd.set_option('display.max_columns', None)

<h4 style="color: #F70206;">Data Extraction</h4>

In [3]:
data = pd.read_csv("circuits.csv")

In [4]:
data1 = pd.read_csv("results.csv")

In [5]:
data1.columns

Index(['resultId', 'raceId', 'driverId', 'constructorId', 'number', 'grid',
       'position', 'positionText', 'positionOrder', 'points', 'laps', 'time',
       'milliseconds', 'fastestLap', 'rank', 'fastestLapTime',
       'fastestLapSpeed', 'statusId'],
      dtype='object')

In [6]:
data1 = data1.drop(columns=['resultId', 'number',
       'position', 'positionText', 'milliseconds', 'time', 'fastestLap', 'fastestLapTime', 'statusId'])

In [16]:
data1.to_csv("results_clean.csv")

In [8]:
data1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26080 entries, 0 to 26079
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   raceId           26080 non-null  int64
 1   driverId         26080 non-null  int64
 2   constructorId    26080 non-null  int64
 3   grid             26080 non-null  int64
 4   positionOrder    26080 non-null  int64
 5   points           26080 non-null  float64
 6   laps             26080 non-null  int64
 7   rank             26080 non-null  object
 8   fastestLapSpeed  26080 non-null  object
dtypes: float64(1), int64(6), object(2)
memory usage: 1.8+ MB

<h4 style="color: #F70206;">Exploring the Data (First Impression)</h4>

In [9]:
data

    circuitid   circuitref       lat        lng  alt
0           1  albert_park -37.84970  144.96800   10
1           2       sepang   2.76083  101.73800   18
2           3      bahrain  26.03250   50.51060    7
3           4    catalunya  41.57000    2.26111  109
4           5     istanbul  40.95170   29.40500  130
..        ...          ...       ...        ...  ...
72         75     portimao  37.22700   -8.62670  108
73         76      mugello  43.99750   11.37190  255
74         77       jeddah  21.63190   39.10440   15
75         78       losail  25.49000   51.45420   \N
76         79        miami  25.95810  -80.23890   \N

[77 rows x 5 columns]

In [10]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77 entries, 0 to 76
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   circuitid   77 non-null     int64
 1   circuitref  77 non-null     object
 2   lat         77 non-null     float64
 3   lng         77 non-null     float64
 4   alt         77 non-null     object
dtypes: float64(2), int64(1), object(2)
memory usage: 3.1+ KB

In [11]:
data.columns

Index(['circuitid', 'circuitref', 'lat', 'lng', 'alt'], dtype='object')

In [12]:
for column in data.columns:
    print(data.columns.unique())

Index(['circuitid', 'circuitref', 'lat', 'lng', 'alt'], dtype='object')
Index(['circuitid', 'circuitref', 'lat', 'lng', 'alt'], dtype='object')
Index(['circuitid', 'circuitref', 'lat', 'lng', 'alt'], dtype='object')
Index(['circuitid', 'circuitref', 'lat', 'lng', 'alt'], dtype='object')
Index(['circuitid', 'circuitref', 'lat', 'lng', 'alt'], dtype='object')

In [13]:
df = data.copy()

<h1 style="color: #F70206; text-shadow: 2px 2px 4px #000000; border: 1px solid #000000; font-size: 36px;">01 | Data Cleaning</h1>

<h4 style="color: #F70206;">Cleaning Column Names</h4>

In [14]:
df.columns = df.columns.str.lower().str.replace(" ", "_")

In [15]:
dfcopy.rename(columns={"st": "state"}, inplace = True)

NameError: name 'dfcopy' is not defined

<h6 style="color: #F70206;">Reordering columns</h6>

In [ ]:
df.columns

In [ ]:
column_order = ['circuitid', 'circuitref', 'name', 'location', 'country', 'lat', 'lng',
       'alt', 'url']
df = df.reindex(columns=column_order)

<h4 style="color: #F70206;">Cleaning invalid Values</h4>

In [ ]:
mean_ages = dict(df.groupby("title")["age"].mean().round(1))            # TECNICA MAPEO

In [ ]:
age_by_title = df["title"].map(mean_ages)

In [ ]:
mapeo = {"Male": "M", "female":"F", "Femal": "F", "M": "M", "F": "F"}       # TECNICA MAPEO

In [ ]:
dfcopy["gender"] = dfcopy["gender"].map(mapeo)

In [ ]:
dfcopy["gender"].value_counts()

In [ ]:
df["sex_enc"] = df["sex"].map({"female": 0, "male": 1})                   # TECNICA MAPEO A BINARIO

In [ ]:
titles_dummies = pd.get_dummies(df["title"], prefix="title")             # TECNICA CREAR DUMIES
df = pd.concat([df, titles_dummies], axis=1)

In [ ]:
df = df * 1                                                              # TRANSFORMANDO DE BOOLEAN A INT (0 Y 1)

<h6 style="color: #F70206;">Cleaning values with binig</h6>

In [ ]:
df.title.replace(df.title.value_counts().index[4:], "Other", inplace=True)

<h6 style="color: #F70206;">Cleaning column values</h6>

In [ ]:
df["cabin"] = df["cabin"].apply(lambda x: x[0] if isinstance(x, str) else "M")

In [ ]:
df["cabin"].value_counts().sort_values(ascending=False)

<h6 style="color: #F70206;">Cleaning string column values</h6>

In [ ]:
"Braund, Mr. Owen Harris".split(",")[1].split(".")[0].strip()

In [ ]:
df["title"] = df["name"].apply(lambda x: x.split(",")[1].split(".")[0].strip())

<h4 style="color: #F70206;">Dealing with Data types</h4>

<h6 style="color: #F70206;">Dealing with datetime</h6>

In [ ]:
df['date'] = pd.to_datetime(df['date'])

In [ ]:
df['date'] = df['date'].apply(lambda x: x.toordinal())

In [ ]:
dfcopy['year'] = dfcopy['year'].astype(int)

<h6 style="color: #F70206;">Formatting data types</h6>

In [ ]:
df['columna'] = df['columna'].apply(lambda x: float(x) if isinstance(x, int) else x)      # de int a float

<h4 style="color: #F70206;">Dealing with NaN values</h4>

In [ ]:
df.isna().sum()

In [ ]:
dfcopy["customer_lifetime_value"].fillna(0, inplace=True)

<h6 style="color: #F70206;">Filling Nan with methods</h6>

In [ ]:
for column in dfcopy.columns:
    dfcopy[column] = dfcopy[column].interpolate(method='linear', limit_direction='forward', axis=0)

<h4 style="color: #F70206;">Dealing with Duplicates</h4>

In [ ]:
data.duplicated().sum()

In [ ]:
dfduplicates.drop_duplicates(keep="first")

<h4 style="color: #F70206;">Dealing with Empty Spaces</h4>

In [ ]:
data.eq(" ").sum()

<h4 style="color: #F70206;">Columnas categoricas y numericas</h4>

In [ ]:
numerical = []                                         # CATEGORICAS MENOS DE 6
categorical = [] 
for column in df.describe().columns:
    if int(df[column].nunique()) > 6:
        numerical.append(column)
    else:
        categorical.append(column)
print(f' numerical : {numerical}')
print(f' categorical : {categorical}')

In [ ]:
columnas_categoricas = dfcopy.select_dtypes(include="object")
columnas_numericas = dfcopy.select_dtypes(include="number")

<h4 style="color: #F70206;">Dropping columns</h4>

In [ ]:
todrop = ['name', 'location', 'country', 'url']

In [ ]:
for column in todrop:
    df.drop(columns=[column], inplace=True)

In [ ]:
df.info()

<h4 style="color: #F70206;">Data to csv</h4>

In [ ]:
df.to_csv('circuits clean.csv', index=False)